extends ../main.pug

append HEAD
	+meta(i18n("CONNECT4"), i18n("CONNECT4_DESCRIPTION"))
	meta(name="robots" content="index, follow, noarchive")

	script(src="/js/games/connect4.js")
	link(rel="stylesheet" href="/css/games/connect4.css") 

	title !{i18n("CONNECT4")} | !{Web.config.get("text.title")}

block BODY
	h1 !{i18n("CONNECT4")}
	game-container 
		div.grid-container 
			div.placement-preview 
				div.piece-preview(column=0)
			div.grid
				- for (let x = 0; x < 7; x++) 
					div(column=x)
						- for (let y = 0; y < 6; y++)
							div(row=y)
			div.panel
				div.commands
					sahyg-button(icon-before=String.fromCharCode(0xf2f9)).new.full !{i18n("NEW_GAME")}
					sahyg-button(icon-before=String.fromCharCode(0xf02d)).rules.full !{i18n("RULES")}
					div.first-player
						sahyg-select#first-player(
							options=[
								{"value": i18n("ME"), "id": "0"},
								{"value": i18n("OPPONENT"), "id": "1"},
								{"value": i18n("RANDOM"), "id": "random"},
							]
							selected=["0"]
							multiple="false"
							label=i18n("FIRST_PLAYER")
						)
					div.opponent
						sahyg-select#opponent(
							options=[
								{"value": i18n("PLAYER"), "id": "player"},
								{"value": i18n("COMPUTER"), "id": "computer"},

							]
							selected=["player"]
							multiple="false"
							label=i18n("OPPONENT")
						)
				div.informations
					div.current-player
						div.label !{i18n("PLAYER_TURN")}
						div.value Player 0

