extends ../main.pug

append HEAD
	+meta(i18n("GAME_OF_LIFE"), i18n("GAME_OF_LIFE_DESCRIPTION"))
	meta(name="robots" content="index, follow, noarchive")

	script(src="/js/games/game_of_life.js")
	link(rel="stylesheet" href="/css/games/game_of_life.css") 

	title !{i18n("GAME_OF_LIFE")} | !{Web.config.get("text.title")}

block BODY
	sahyg-page-title !{i18n("GAME_OF_LIFE")}
	game-container 
		.canvas-container 
			.canvas
		.commands 
			.buttons
				sahyg-button(full-color=true icon=String.fromCharCode(0xf02d) content=i18n("RULES")).rules
				sahyg-button(full-color=true icon=String.fromCharCode(0xf04b) content=i18n("RESUME")).resume 
				sahyg-button(full-color=true icon=String.fromCharCode(0xf04c) content=i18n("PAUSE")).pause.disabled 
				sahyg-button(full-color=true icon=String.fromCharCode(0xf054) content=i18n("NEXT")).next 
				sahyg-button(full-color=true icon=String.fromCharCode(0xf51a) content=i18n("CLEAR")).clear 
				sahyg-button(full-color=true icon=String.fromCharCode(0xf0c1) content=i18n("SHARE")).share
				div.generation 
					| !{i18n("GENERATION")} :
					span.value 0
			.sliders
				.column-count.slider
					.label !{i18n("GAME_OF_LIFE_COLUMN_COUNT")}
					.input
						input(type="range" min=5 max=100 value=10)
						.value 10
				.speed.slider
					.label !{i18n("GAME_OF_LIFE_SPEED")}
					.input
						input(type="range" min=1 max=100 value=50)
						.value 
							span 50
							| %
		.debug 
			.position

