extends ../main.pug

append HEAD
	+meta("Tic Tac Toe", "Tic Tac Toe game")
	meta(name="robots" content="index, follow, noarchive")

	script(src="/js/games/tic_tac_toe.js")
	link(rel="stylesheet" href="/css/games/tic_tac_toe.css") 

	title !{i18n("TIC_TAC_TOE")} | !{Web.config.get("text.title")}

block BODY
	sahyg-page-title !{i18n("TIC_TAC_TOE")}
	sahyg-tabs#tab(
		orientation="horizontal",
		default="game"
		tabs=[
			{
				"text": i18n("GAME"),
				"id": "game",
			},
			{
				"text": i18n("HISTORY"),
				"id": "history",
			}
		]
	)
		//- {
		//- 	"text": i18n("STATISTICS"),
		//- 	"id": "statistics",
		//- },
		app(status="pending" sahyg-tab="game")
			div.grid
				each position in [[0,0], [0,1], [0,2], [1,0], [1,1], [1,2], [2,0], [2,1], [2,2]]
					div.cell(data-row=position[0], data-column=position[1] data-player="")
			div.interactive-panel
				div.commands
					div.title !{i18n("COMMANDS")}
					div.buttons-container 
						sahyg-button#new-game(content=i18n("NEW_GAME"), full-color)
						if WebRequest.userExists
							sahyg-button#edit-opponent(content=i18n("EDIT_OPPONENT"), full-color)
						div.change-opponent
							span.label !{i18n("PLAY_AGAINST")}
							sahyg-select#change-opponent(
								options=[
									{"value": i18n("PLAYER"),"id": "player"},
									{"value": i18n("COMPUTER"),"id": "computer"},
								]
								selected=["player"]
								multiple="false"
							)
						div.first-player
							span.label !{i18n("FIRST_PLAYER")}
							sahyg-select#first-player(
								options=[
									{"value": i18n("ME"),"id": "0"},
									{"value": i18n("OPPONENT"),"id": "1"},
									{"value": i18n("RANDOM"),"id": "random"}
								]
								selected=["0"]
								multiple="false"
							)
				div.informations
					div.title !{i18n("INFORMATIONS")}
					div.player !{i18n("PLAYER_TURN")} :
						span.current /
		div.history(sahyg-tab="history")
			span !{i18n("HISTORY_LAST_GAMES", {count: 20})}
			div.container
				div.header
					div.win !{i18n("WIN")}
					div.opponent !{i18n("OPPONENT")}
					div.moves !{i18n("MOVES")}
				div.body(data-empty=i18n("NOTHING_HERE"))
					if history
						each party in history.reverse().slice(0, 20)
							- let winner = party.win == "null" ? null : party.win ? WebRequest.user.username : party.opponent
							sahyg-tictactoe-history-row(
								moves=party.moves, 
								player0=WebRequest.user.username, 
								player1=party.opponent, 
								winner=winner
								opponent=party.opponent
							)
		div.statistics(sahyg-tab="statistics")
			| work in progress



