append HEAD
	<!-- Components links: navigation -->
	link(rel="stylesheet" href="/css/components/navigation.css")
	script(src="/js/components/navigation.js") 

mixin c_horizontalTabs(id, list, def)
	c-horizontal-tabs(id=id data-default-tab=def)
		c-horizontal-tabs-panel
			each item in list 
				c-horizontal-tabs-item(data-horizontal-tabs-target=item.id class=(item.id == def? "active" : "")) !{conditionalI18n(item.title)}
		c-horizontal-tabs-container 
			block

mixin c_section(title, active = true)
	c-section(class=active ? "active": "")
		c-section-title !{conditionalI18n(title)}
		c-section-content
			block

mixin c_pageTitle(title)
	c-title !{conditionalI18n(title)}

mixin c_verticalTabs(id, list, def, search = false, searchType = "title")
	c-vertical-tabs(id=id data-default-tab=def)
		c-vertical-tabs-panel
			if search
				c-vertical-tabs-search.ta.ta-search(data-search-type=searchType)
					input#c-vertical-tabs-search-input(type="text")
			c-vertical-tabs-menu
				each item in list 
					c-vertical-tabs-item(data-vertical-tabs-target=item.id class=(item.id == def? "active": "")) !{conditionalI18n(item.title)}
			c-vertical-tabs-display-button
		c-vertical-tabs-container 
			block