extends main.pug 

append HEAD 
	+meta("Home", "Welcome to the SAHYG website, a space dedicated to the family! Here you will find access to various family resources and applications, some of which are available to everyone. Whether you are a family member or a visitor, you may find something of interest on this site. Feel free to browse the site and discover all it has to offer!")
	meta(name="robots" content="index, follow, noarchive")

	link(rel="stylesheet" href="/css/home.css")

	title !{i18n('HOME')} | !{Web.config.get("text.title")}

block BODY 
	div.title !{i18n("WELCOME")}
	if !WebRequest.userExists
		a.login(href="/login") 
			btn.btn-full !{i18n("LOGIN")}
	div.section
		span.title !{i18n("APPLICATIONS")}
		div.applications
			each app in apps
				a.application(data-name=app.name href=app.link)
					div.img
						if app.img.startsWith("icon:")
							span.lafs !{app.img.substring(5)}
						else 
							img(src=app.img alt=app.name+" icon" class=app.coloredImg ? "colored" : "")
					div.name !{conditionalI18n(app.text)}
