extends main.pug 
include components/navigation.pug

append HEAD
	+meta("Shortener", "URL shortener")
	meta(name="robots" content="index, follow, noarchive")

	script(src="/js/shortener.js") 
	link(rel="stylesheet" href="/css/shortener.css")

	title !{i18n("SHORTENER")} | !{Web.config.get("text.title")}

block BODY 
	+c_pageTitle("i18n:SHORTENER")
	div.commands
		btn.new.btn-full 
			span.lafs &#xf067;
			| !{i18n("NEW_SHORTCUT")}
		div.search 
			div.ta.ta-search
				input#search(type="text" name="search" placeholder=i18n("SEARCH"))
			div.count 
				span.current 0
				| /
				span.total 0
		btn.refresh.btn-full 
			span.lafs &#xf2f9;
			| !{i18n("REFRESH")}
	div.table
		div.container
			div.header
				div.cell.enable !{i18n("ENABLED")}
				div.cell.url !{i18n("URL")}
				div.cell.target !{i18n("TARGET")}
				div.cell.clicked !{i18n("CLICKED_COUNT")}
				div.cell.commands !{i18n("COMMANDS")}
			div.body(data-replace-text=i18n("SHORTENER_NOTHING"))