extends main.pug 
include components/navigation.pug

append HEAD
	+meta(i18n("TODOLIST"), i18n("TODOLIST_DESCRIPTION"))
	meta(name="robots" content="index, follow, noarchive")

	link(rel="stylesheet" href="/css/todolist.css")
	script(src="/js/todolist.js") 

	title !{i18n("TODOLIST")} | !{Web.config.get("text.title")}

append BODY 
	app-container
		div.menu
			div.backdrop
			div.body
				div.title 
					span.text !{i18n("CATEGORIES")}
					span.menu-icon.lafs &#xf00d;
				div.categories
					div.item.all-tasks
						span.icon &#xf0ae;
						span.text !{i18n("ALL_TASKS")}
					div.divider
				btn.btn-rounded.add !{i18n("ADD")}
		div.tasks
			div.header
				div.title
					div.menu-icon.lafs &#xf0c9;
					div.category
						span.icon &#xf0ae;
						span.text
				div.new-task-container
					span.plus.lafs &#xf067;
					input.new-task(type="text")
			div.body
				div.todo
				div.completed-label !{i18n("TASKS_COMPLETED")}
				div.completed
		div.panel
			div.backdrop
			div.body