extends main.pug 

append HEAD 
	+meta("Flora", "Flora page")
	meta(name="robots" content="index, follow, noarchive")

	link(rel="stylesheet" href="/css/flora.css")
	script(src="/js/flora.js") 

	title !{i18n('FLORA')} | !{Web.config.get("text.title")}

block BODY
	app
		if languageAvailable
			sahyg-tabs#tab(
				orientation="horizontal"
				default="identification"
				tabs=[{"text": i18n("IDENTIFICATION"),"id": "identification",},{"text": i18n("SEARCH"),"id": "search"},{"text": i18n("GLOSSARY"),"id": "glossary"}]
			)
				div(sahyg-tab="identification")
					div.actions
						sahyg-button(full-color=true content=i18n("START") full-width=true icon=String.fromCharCode(0xf100)).start
						sahyg-button(full-color=true content=i18n("PREVIOUS") disabled=true full-width=true icon=String.fromCharCode(0xf104)).previous
					div(id="1" class="visible possibilities question")
						each possibility in identification.possibilities
							div.possibility(target=possibility.target) !{possibility.text}
				div(sahyg-tab="search")
					div.search-bar
						sahyg-textarea#flora-search(placeholder=i18n("FLORA_SEARCH") outline=true multiline=false rounded=true icon=String.fromCharCode(0xf002))
						sahyg-button(full-color=true content=i18n("CONFIRM")).confirm
					div.counter
						| !{i18n("FLORA_COUNTER")}
						span.value 0
						| / 100 (max)
					div.results
				div(sahyg-tab="glossary")
					sahyg-tabs#glossary(
						default="0"
						tabs=glossaryMenu
					)
						each item, index in Object.entries(glossary)
							div(sahyg-tab=index)
								sahyg-page-title !{item[0]}
								span !{item[1].description.replace("\n", "<br/><br/>")}
								br
								br
								if item[1].img
									img(src="/img/flora/glossary/"+item[0].replace("/", " - ")+".jpg", alt=item[0] loading="lazy" data-viewer="open zoom")
		else 
			span.no_language !{i18n("FLORA_NOT_LANGUAGE")}