extends main.pug 

append HEAD 
	+meta("Jokes", "🤣")
	meta(name="robots" content="index, follow, noarchive")

	link(rel="stylesheet" href="/css/jokes.css")

	script(src="/js/jokes.js") 

	title !{i18n('JOKES')} | !{Web.config.get("text.title")}

block BODY 
	app
		sahyg-tabs#tab(
			orientation="horizontal",
			default="random"
			tabs=[{"text": i18n("RANDOM"),"id": "random"},{"text": i18n("ABOUT"),"id": "about"}]
		)
			app-content(sahyg-tab="random")
				div.commands
					sahyg-button.new-joke(full-color=true, content=i18n("NEW_JOKE"))
				div.joke
			app-content(sahyg-tab="about")
				div.stats
					div.row
						span !{i18n("TOTAL_JOKES")}
						span.total !{i18n("LOADING")}
					div.row
						span !{i18n("ALL_JOKES_JSON")}
						a(href="/download/jokes") !{i18n("DOWNLOAD")} 
						//- TODO Download jokes