extends main.pug 
include components/navigation.pug

append HEAD 
	+meta("Jokes", "🤣")
	meta(name="robots" content="index, follow, noarchive")

	link(rel="stylesheet" href="/css/jokes.css")

	script(src="/js/jokes.js") 

	title !{i18n('JOKES')} | !{Web.config.get("text.title")}

block BODY 
	app
		+c_horizontalTabs("tab", [{id: "random", title: i18n("RANDOM")}, {id: "about", title: i18n("ABOUT")}], "random")
			app-content(data-horizontal-tabs-id="random")
				div.commands
					btn.btn-full.new-joke !{i18n("NEW_JOKE")}
				div.joke
			app-content(data-horizontal-tabs-id="about")
				div.stats
					div.row
						span !{i18n("TOTAL_JOKES")}
						span.total !{i18n("LOADING")}
					div.row
						span !{i18n("ALL_JOKES_JSON")}
						a(href="/download/jokes") !{i18n("DOWNLOAD")} 
						//- TODO Download jokes