extends main.pug 

mixin loginRequired()
	div.login-required
		a(href="/login")
			SAHYG-button.login(full-color=true, content=i18n("LOGIN"))

append HEAD
	+meta("Settings", "Settings page")
	meta(name="robots" content="noindex, nofollow, noarchive")

	link(rel="stylesheet" href="/css/settings.css")
	script(src="/js/settings.js") 

	title !{i18n("SETTINGS")} | !{Web.config.get("text.title")}

append CONSTANTS
	meta(name="settings_max_avatar_size", content=maxAvatarSize, type="number")

append BODY 
	sahyg-tabs#tab(
		orientation="vertical"
		tabs=tabs
		default="general"
	)
		div(sahyg-tab="general")
			div.tab-title !{i18n("GENERAL")}
		div(sahyg-tab="profile")
			if (WebRequest.userExists)
				div.tab-title !{i18n("PROFILE")}
			else
				+loginRequired()
		div(sahyg-tab="security")
			if (WebRequest.userExists)
				div.tab-title !{i18n("SECURITY")}
			else
				+loginRequired()
		div(sahyg-tab="confidentiality")
			if (WebRequest.userExists)
				div.tab-title !{i18n("CONFIDENTIALITY")}
			else
				+loginRequired()

