extends main.pug 

append HEAD
	+meta("Shortener", "URL shortener")
	meta(name="robots" content="index, follow, noarchive")

	script(src="/js/shortener.js") 
	link(rel="stylesheet" href="/css/shortener.css")

	title !{i18n("SHORTENER")} | !{Web.config.get("text.title")}

block BODY 
	sahyg-page-title !{i18n("SHORTENER")}
	sahyg-input-array(
		confirm-clear=true,
		columns=[
			{type: "buttons", id: "enabled", name: i18n("ENABLED"), width: "6rem", align: "center", 
				buttons: [
					{icon: String.fromCharCode(0xf14a), tooltip: i18n("ENABLE/DISABLE"), "button-id": "enable"},
				]
			},
			{type: "link", id: "url", name: i18n("URL"), width: 45, options: {target: "_blank"}},
			{type: "link", id: "target", name: i18n("TARGET"), width: 45, options: {target: "_blank"}},
			{type: "staticText", id: "clicked", name: i18n("CLICKED_COUNT"), width: 10, align: "right"},
			{type: "buttons", id: "actions", name: i18n("ACTIONS"), width: "13rem", align: "right", 
				buttons: [
					{icon: String.fromCharCode(0xf0c5), tooltip: i18n("COPY_URL"), "button-id": "copy"},
					{icon: String.fromCharCode(0xf044), tooltip: i18n("EDIT"), "button-id": "edit"},
					{icon: String.fromCharCode(0xf2ed), tooltip: i18n("REMOVE"), "button-id": "remove"}
				]
			}
		]
		min-width="60rem"
	)