extends main.pug 

append HEAD 
	+meta("Signup", "Signup page")
	meta(name="robots" content="index, follow, noarchive")

	script(src="/js/signup.js") 
	link(rel="stylesheet" href="/css/signup.css")

	title !{i18n('SIGNUP')} | !{Web.config.get("text.title")}

block BODY 
	div.title !{i18n('SIGNUP')}
	form(action="/signup" method="post") 

		sahyg-label.required(for="username") !{i18n("USERNAME")}
		sahyg-textarea#username(
			placeholder=i18n("USERNAME") 
			type="username"
			rounded
			outline
			options={
				autocomplete:"username"
			}
		)
		sahyg-label(for="firstname") !{i18n("FIRSTNAME")}
		sahyg-textarea#firstname(
			placeholder=i18n("FIRSTNAME") 
			type="firstname"
			rounded
			outline
			options={
				autocomplete:"firstname"
			}
		)
		sahyg-label(for="lastname") !{i18n("LASTNAME")}
		sahyg-textarea#lastname(
			placeholder=i18n("LASTNAME") 
			type="lastname"
			rounded
			outline
			options={
				autocomplete:"lastname"
			}
		)
		sahyg-label.required(for="email") !{i18n("EMAIL")}
		sahyg-textarea#email(
			placeholder=i18n("EMAIL") 
			type="email"
			rounded
			outline
			options={
				autocomplete:"email"
			}
		)
		sahyg-label.required(for="password") !{i18n("PASSWORD")}
		sahyg-textarea#password(
			placeholder=i18n("PASSWORD") 
			type="password"
			rounded
			outline
			options={
				autocomplete:"password",
				spellcheck:"false",
				autocorrect:"off",
				autocapitalize:"off",
				autocomplete:"current-password"
			}
		)

		div.password-requirements
			ul
				li.min-max !{i18n("PASSWORD_REQUIREMENTS_1")}
				li.upper !{i18n("PASSWORD_REQUIREMENTS_2")}
				li.lower !{i18n("PASSWORD_REQUIREMENTS_3")}
				li.special !{i18n("PASSWORD_REQUIREMENTS_4")}
				li.digit !{i18n("PASSWORD_REQUIREMENTS_5")}

		sahyg-label.required(for="password-confirm" data-title="required") !{i18n("PASSWORD_CONFIRM")}
		sahyg-textarea#password-confirm(
			placeholder=i18n("PASSWORD_CONFIRM") 
			type="password"
			rounded 
			outline
			options={
				autocomplete:"password",
				spellcheck:"false",
				autocorrect:"off",
				autocapitalize:"off",
				autocomplete:"current-password"
			}
		)

		span.required
			span *
			| !{i18n("REQUIRED")}

		sahyg-button(type="submit" content=i18n("SUBMIT") full-color full-width)
	div.links
		span 
			| !{i18n("ALREADY_ACCOUNT")}
			a(href="/login") !{i18n("LOGIN")}