extends main.pug 

append HEAD 
	+meta("Users", "Page to manage website users.")
	meta(name="robots" content="noindex, nofollow, noarchive")

	link(rel="stylesheet" href="/css/users.css")
	script(src="/js/users.js") 

	title !{i18n('USERS')} | !{Web.config.get("text.title")}

block BODY
	sahyg-tabs#tab(orientation="horizontal", tabs=[{id: "users", text: i18n("USERS")}, {id: "groups", text: i18n("GROUPS")}], default="users")
		div(sahyg-tab="users")
			sahyg-page-title !{i18n("USERS")}
			div.table
				sahyg-input-array( 
					confirm-clear=true,
					columns=[
						{type: "staticText", id: "username", name: i18n("USERNAME"), width: 20},
						{type: "staticText", id: "email", name: i18n("EMAIL"), width: 40},
						{type: "staticText", id: "group", name: i18n("GROUP"), width: 20},
						{type: "buttons", id: "actions", name: i18n("ACTIONS"), width: 20, align: "right",
							buttons: [
								{icon: String.fromCharCode(0xf044), tooltip: i18n("EDIT"), "button-id": "edit"},
								{icon: String.fromCharCode(0xf2ed), tooltip: i18n("REMOVE"), "button-id": "remove"}
							]
						},
					]

				)
		div(sahyg-tab="groups")
			sahyg-page-title !{i18n("GROUPS")}
			div.table
				sahyg-input-array(
					confirm-clear=true,
					columns=[
						{type: "staticText", id: "name", name: i18n("NAME"), width: 40},
						{type: "staticText", id: "parent", name: i18n("PARENT"), width: 40},
						{type: "buttons", id: "actions", name: i18n("ACTIONS"), width: 20, align: "right", 
							buttons: [
								{icon: String.fromCharCode(0xf044), tooltip: i18n("EDIT"), "button-id": "edit"},
								{icon: String.fromCharCode(0xf2ed), tooltip: i18n("REMOVE"), "button-id": "remove"}
							]
						}
					]
				)
