extends ../main.pug
include ../components/navigation.pug

append HEAD
	+meta(i18n("HANGMAN"), i18n("HANGMAN_DESCRIPTION"))

	script(src="/js/games/hangman.js")
	link(rel="stylesheet" href="/css/games/hangman.css") 

	title !{i18n("HANGMAN")} | !{Web.config.get("text.title")}

block BODY
	+c_pageTitle("i18n:HANGMAN")
	flex-container
		div#hangman
			svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 103.1764 169.4348')
				circle.head1(cx='26.0145' cy='47.0636' r='11.3386')
				circle.head2(cx='37.353' cy='49.125' r='11.3386')
				rect.mount(x='17.6764' width='85.5' height='12.5217')
				rect.pole(x='90.1655' y='11.2174' width='13.0109' height='158.2174')
				path.strut(d='M123.913,71.1848c-5.0869-5.6739-5.0869-5.6739-15.2608-15.75-4.4864-4.4432-21.8343-3.0116-18.8315,0C106.5489,72.212,106.5489,72.212,123.913,89.5272,127.1319,92.7369,127.755,75.47,123.913,71.1848Z' transform='translate(-33.7476 -42.913)')
				rect.rope(x='23.1546' y='11.2174' width='3.9297' height='41.087')
				rect.node(x='21.0024' y='51.6522' width='11.837' height='6.75')
				path.trunk(d='M57.6149,141.6527c-.0281-1.3528,4.1617-1.34,4.1941-.0988.0152.5851,10.6116-2.5638,10.6149-3.7659.0326-11.8206-.0174-18.0123.0083-31.4837.008-4.1576-9.5137-6.1767-13.6714-6.1767-4.6467,0-11.8367,2.9974-11.8367,5.8833,0,12.3754.0976,28.0271.1759,31.6467C47.1515,140.0418,57.6271,142.2385,57.6149,141.6527Z' transform='translate(-33.7476 -42.913)')
				path.right-arm(d='M78.6782,138.3913c1.6141,2.7382,7.4837.2935,6.3357-2.8556-3.73-10.2319-11.696-33.7223-15.4824-32.3239-1.9938.7363-1.35,9.4381,2.2574,18.2882C75.2054,129.88,74.7677,131.7576,78.6782,138.3913Z' transform='translate(-33.7476 -42.913)')
				path.left-arm(d='M40.231,138.9783c-1.6141,2.7382-7.4837.2934-6.3357-2.8556,3.73-10.232,11.696-33.7223,15.4825-32.324,1.9937.7364,1.35,9.4382-2.2575,18.2883C43.7038,130.4674,44.1415,132.3446,40.231,138.9783Z' transform='translate(-33.7476 -42.913)')
				path.right-leg(d='M72.8038,179.1526c0,4.1437-11.4037,3.7472-11.3544,0,.181-13.7613.1967-25.2386.3767-38.9352.0309-2.3559,10.5243-9.1115,10.5524-4.7673C72.4354,144.2609,72.8042,164.4783,72.8038,179.1526Z' transform='translate(-33.7476 -42.913)')
				path.left-leg(d='M46.6188,179.1526c0,4.1437,11.4038,3.7472,11.3545,0-.1811-13.7613-.1968-25.2386-.3767-38.9352-.031-2.3559-10.5243-9.1115-10.5524-4.7673C46.9873,144.2609,46.6185,164.4783,46.6188,179.1526Z' transform='translate(-33.7476 -42.913)')
		div#word
			div.hidden-word
			div.commands
				btn.btn-full#new-game !{i18n("NEW_GAME")}
				btn.btn-full#abandon !{i18n("ABANDON")}
		div#keyboard
			each i in ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
				div.letter(letter=i) !{i.toUpperCase()}

