extends ../main.pug
include ../components/navigation.pug
include ../components/inputs.pug

append HEAD
	+meta("Tic Tac Toe", "Tic Tac Toe game")

	script(src="/js/games/tic_tac_toe.js")
	link(rel="stylesheet" href="/css/games/tic_tac_toe.css") 

	title !{i18n("TIC_TAC_TOE")} | !{Web.config.get("text.title")}

block BODY
	+c_pageTitle("i18n:TIC_TAC_TOE")
	+c_horizontalTabs("tab", [{id: "tic_tac_toe", title: i18n("TIC_TAC_TOE")}, {id: "history", title: i18n("HISTORY")}], "tic_tac_toe")
		app(status="pending" data-horizontal-tabs-id="tic_tac_toe")
			div.grid
				each position in [[0,0], [0,1], [0,2], [1,0], [1,1], [1,2], [2,0], [2,1], [2,2]]
					div.cell(data-row=position[0], data-column=position[1] data-player="")
			div.interactive-panel
				div.commands
					div.title !{i18n("COMMANDS")}
					div.buttons-container 
						btn.btn-full#new-game !{i18n("NEW_GAME")}
						if WebRequest.userExists
							btn.btn-full#edit-opponent !{i18n("EDIT_OPPONENT")}
						div.change-opponent
							span.label !{i18n("PLAY_AGAINST")}
							+c_select([
								{"title": "i18n:PLAYER","value": "player"},
								{"title": "i18n:COMPUTER","value": "computer"}
							], "change-opponent", "player")
						div.first-player
							span.label !{i18n("FIRST_PLAYER")}
							+c_select([
								{"title": "i18n:ME","value": "0"},
								{"title": "i18n:OPPONENT","value": "1"},
								{"title": "i18n:RANDOM","value": "random"}
							], "first-player", "0")
				div.informations
					div.title !{i18n("INFORMATIONS")}
					div.player !{i18n("PLAYER_TURN")} :
						span.current /
		div.history(data-horizontal-tabs-id="history")
			span !{i18n("HISTORY_LAST_GAMES", {count: 20})}
			div.container
				div.header
					div.win !{i18n("WIN")}
					div.opponent !{i18n("OPPONENT")}
					div.moves !{i18n("MOVES")}
				div.body(data-empty=i18n("NOTHING_HERE"))
					if history
						each party in history.reverse().slice(0, 20)
							- let win = party.win == "null" ? "draw" : party.win ? "victory" : "defeat"
							div.row
								div.cell.win(class=win)
								div.cell.opponent !{party.opponent}
								div.cell.moves
									div.grid(data-move=0)
										each position in [[0,0], [0,1], [0,2], [1,0], [1,1], [1,2], [2,0], [2,1], [2,2]]
											- let index = party.moves.findIndex(cell => cell.row == position[0] && cell.column == position[1])
											- let dataIndex = index == -1? null : index
											- let player = party.moves[index]?.player? (WebRequest.user.username == (party.moves[index]?.player) ? 0 : 1) : null
											div.cell(data-index=dataIndex data-row=position[0] data-column=position[1] data-player=player)
									div.commands
										btn.start.disabled
											span.lafs &#xf04a;
											| !{i18n("START")}
										btn.previous.disabled 
											span.lafs &#xf0d9; 
											|!{i18n("PREVIOUS")}
										btn.next 
											| !{i18n("NEXT")}
											span.lafs &#xf0da;
										btn.end
											| !{i18n("END")}
											span.lafs &#xf04e;
		div.statistics(data-horizontal-tabs-id="statistics")
			| work in progress



