extends ../main.pug

append HEAD
	+meta("Error", "An error occurred")

	script(src="/js/error.js") 
	link(rel="stylesheet" href="/css/error.css") 

	title !{i18n("ERROR")} | !{Web.config.get("text.title")}


block BODY
	div.content
		span.title !{i18n("ERROR")}
		span.url
		span.description !{i18n("ERROR_DESCRIPTION")}
		div.buttons
			a.refresh(href="#")
				sahyg-button(content=i18n("REFRESH_PAGE") rounded=true)
			a.back(href="#")
				sahyg-button(content=i18n("RETURN_PREVIOUS") rounded=true)
			a.return(href="/")
				sahyg-button(content=i18n("RETURN_HOME") rounded=true)
			a.home(href="/contact")
				sahyg-button(content=i18n("CONTACT_US") rounded=true)
