extends ../main.pug

append HEAD
	+meta("Unauthorized", "Access denied")

	script(src="/js/error.js")
	link(rel="stylesheet" href="/css/error.css") 

	title !{i18n("ACCESS_DENIED")} | !{Web.config.get("text.title")}


block BODY
	div.content
		span.title 401
		span.url
		span.description !{i18n("UNAUTHORIZED_DESCRIPTION")}
		div.buttons
			a.back(href="#")
				btn.btn-rounded !{i18n("RETURN_PREVIOUS")}
			a.home(href="/")
				btn.btn-rounded !{i18n("RETURN_HOME")}
			a.home(href="/contact")
				btn.btn-rounded !{i18n("CONTACT_US")}
