extends ./main.pug

block MAIL_BODY
	span(style={
		"margin": "0 auto 2rem auto",
		"text-align": "center", 
		"display": "block",
		"width": "min(80%, 30rem)" 
	}) !{i18n("MAIL_LOGIN_DESCRIPTION")}
	a(href=Web.config.get("domain")+"/login?redirect=/settings" style={
		"padding": "0.7rem 1.4rem",
		"background-color": "#1a81fa",
		"border-radius": "0.5rem",
		"color": "white",
		"margin": "0 auto 2rem auto",
		"width": "-moz-fit-content",
		"width": "fit-content",
		"display": "block"
	}) !{i18n("CHANGE_PASSWORD")}
	a(href=Web.config.get("domain")+"/contact?type=intrusive_connection&mail="+mail._id style={
		"padding": "0.7rem 1.4rem",
		"background-color": "#1a81fa",
		"border-radius": "0.5rem",
		"color": "white",
		"margin": "0 auto 2rem auto",
		"width": "-moz-fit-content",
		"width": "fit-content",
		"display": "block"
	}) !{i18n("CONTACT_US")}